.right {
    flex: 3.5;
}

.rightWrapper {
    padding: 20px 20px 0 0;
}

.birthContainer {
    display: flex;
    align-items: center;
}

.birthImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthText {
    font-weight: 300;
    font-size: 15px;
}

.btnFollow {
    padding: 5px 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #1877f2;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.btnEdit {
    padding: 5px 20px;
    border: none;
    outline: none;
    color: white;
    background-color: teal;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.btnEditCancel {
    padding: 5px 20px;
    border: 1px solid teal;
    outline: none;
    color: teal;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.rightTitle {
    margin-bottom: 20px;
    margin-top: 20px;
}

.rightFriendList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.rightTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightInfo {
    margin-bottom: 30px;
}

.infoItem {
    margin-bottom: 15px;
}

.infoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.infoValue {
    font-weight: 300;
}

.infoValueInput {
    font-weight: 300;
    font-size: 16px;
    border: none;
    outline: none;
    color: gray;
    border-bottom: 1px solid lightgray;
}

.followings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}